:root {
    --primary-color: rgb(103, 206, 247);
    --font-family: Fjalla One;
    --secondry-color: rgb(0, 0, 36);
    --highlights: rgb(218, 240, 249);
}

i {
    padding: 10px 30px 6px;
    font-size: 30px;
}

nav ul {
    padding: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    padding: 20px 30px 10px;
    font-size: 17px;
}

nav {
    padding: 10px;
    font-family: var(--font-family);
}

nav a {
    text-decoration: none;
    color: var(--secondry-color);
    transition: all 150ms ease-in-out;

}

nav a:hover {
    text-decoration: none;
    color: var(--primary-color);

}

nav li.active a {
    color: var(--primary-color);
}



footer .email-link {
    text-decoration: none;
    color: var(--secondry-color);
    font-family: var(--font-family);
    text-align: center;
    font-size: 30px;
    transition: all 150ms ease-in-out;
}

footer .email-link:hover {
    color: var(--primary-color);
}

footer .social-links a {
    margin: 20px;

    color: var(--secondry-color);
    background: var(--primary-color);
    border-radius: 10px;
    transition: all 150ms ease-in-out;

}

footer .social-links a:hover {
    color: var(--primary-color);
    background: var(--secondry-color);
}

footer .contact-box {
    margin-top: 10px;
    background: var(--secondry-color);
    padding: 30px 100px;
    border-radius: 10px;
}

footer .contact-box h4 {
    color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 48px;
}

footer .contact-box p {
    color: var(--primary-color);
    opacity: 0.7;
    margin-bottom: 0;
}

footer .contact-box .footer-button {
    font-size: 33px;
}


h1 {
    font-size: 96px;
    font-weight: bold;
}

p {
    font-weight: normal;
    margin: 0;
}

.hero {
    text-align: center;
    background: var(--secondry-color);
    font-family: var(--font-family);
    color: var(--highlights);
    padding: 160px;
}

.hero p {
    font-size: 36px;
}

.hero h2 {
    font-weight: 400px;
    font-size: 24px;
    color: var(--primary-color)
}

.project-description h2 {
    font-family: var(--font-family);
}

.content-container {

    padding: 30px;

}

.content-container h1 {
    font-family: var(--font-family);
    font-size: 55px;
    line-height: 80px;
}

.content-container h2 {
    font-family: var(--font-family);
    font-size: 35px;
}

.content-container h3 {
    font-size: 24px;
    font-family: var(--font-family);
    line-height: 1.5;
    margin: 10px 0 0 0;
}

.content-container p {
    font-size: 14px;
}

.btn-branding {
    background: var(--primary-color);
    border-radius: 4px;
    color: var(--secondry-color);
    font-family: var(--font-family);

}

.btn-branding-outline {

    background: var(--primary-color);
    border-radius: 4px;
    color: var(--secondry-color);
    font-family: var(--font-family);

}

body {
    background: var(--highlights);
}

h2 {
    font-size: 50px;
    color: var(--secondry-color);
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
}

.profile {

    margin: 70px 0 0 50px;
}



@media (max-width: 960px) {

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    .hero {
        padding: 30px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .project-description {
        padding: 0;
        text-align: center;
        max-width: 350px;

    }

    .content-container {
        padding: 30px;
        text-align: center;
    }

    img {
        padding-top: 10px;
        border-radius: 10px;



    }

    nav li {
        padding: 10px;
    }

    i {
        padding: 5px;
    }

    ul {
        margin-bottom: 0;
    }

    footer .contact-box {
        padding: 20px;
    }

    footer .contact-box h4 {
        font-size: 30px;
    }

    footer .contact-box .footer-button {
        font-size: 25px;
    }


}

img {
    border-radius: 5px;
}