:root {
    --primary-color: rgb(103, 206, 247);
    --font-family: Fjalla One;
    --secondry-color: rgb(0, 0, 36);
    --highlights: rgb(218, 240, 249);
}


h1 {
    font-size: 96px;
    font-weight: bold;
}

p {
    font-weight: normal;
    margin: 0;
}

.hero {
    text-align: center;
    background: var(--secondry-color);
    font-family: var(--font-family);
    color: var(--highlights);
    padding: 160px;
}

.hero p {
    font-size: 36px;
}

.hero h2 {
    font-weight: 400px;
    font-size: 24px;
    color: var(--primary-color)
}

.project-description h2 {
    font-family: var(--font-family);
}

.content-container {

    padding: 110px;

}

.content-container h1 {
    font-family: var(--font-family);
    font-size: 55px;
    line-height: 80px;
}

.content-container h2 {
    font-family: var(--font-family);
    font-size: 35px;
}

.content-container h3 {
    font-size: 24px;
    font-family: var(--font-family);
    line-height: 1.5;
    margin: 10px 0 0 0;
}

.content-container p {
    font-size: 14px;
}

.btn-branding {
    background: var(--primary-color);
    border-radius: 4px;
    color: var(--secondry-color);
    font-family: var(--font-family);

}

.btn-branding-outline {

    background: var(--primary-color);
    border-radius: 4px;
    color: var(--secondry-color);
    font-family: var(--font-family);

}

body {
    background: var(--highlights);
}

h2 {
    font-size: 50px;
    color: var(--secondry-color);
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

@media (max-width: 960px) {

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    .hero {
        padding: 20px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .project-description {
        padding: 0;
        text-align: center;
        max-width: 350px;

    }

    .content-container {
        padding: 30px;
        text-align: center;
    }

    img {
        padding-top: 10px;
        border-radius: 10px;
    }
}

img {
    border-radius: 5px;
}